:root {
  --space-0: 0;
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 1rem;
  --space-4: 1.5rem;

  --primary-color: rgb(199, 240, 240);
  --text-color: rgba(44, 44, 44, 1);
  --text-discrete-color: rgba(125, 125, 125, 1);
  --font-family: Helvetica, sans-serif;
  --background-color: white;
  --layout-separator: 1px solid rgb(120, 112, 112);

  --sidebar-background: rgb(240, 240, 240);
  --button-radius: 2px;
}

/* RESET */
/* from https://piccalil.li/blog/a-more-modern-css-reset/ */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  margin: 0;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* endreset */

html {
  font-family: Georgia, serif;
  font-size: 20px;
}
body {
  background: var(--background-color);
}

.wrapper {
  margin-inline: auto;
  padding-inline: var(--space-3);
  max-width: clamp(320px, 90%, 60ch);
}

/* composition */

.my__layout {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  min-height: 100vh;

  & > * {
    overflow-y: scroll;
  }
  aside:first-child {
    background: var(--sidebar-background);
    border-inline-end: var(--layout-separator);
  }
  aside:last-child {
    flex-basis: 40ch;
    border-inline-start: var(--layout-separator);
  }
  aside, main {
    display: var(--display, block);
  }
}

[data-layout="single-column"] {
  .my__layout {
    &:has([data-fullpage=true]) > *:not([data-fullpage=true]) {
      --display: none;
    }

    &:not(:has([data-fullpage=true])) main {
      --display: block;
      width: 100%; 
    }
    &:not(:has([data-fullpage=true])) > *:not(main) {
      --display: none;
    }
    
    [data-fullpage=true] {
      width: 100%; 
    }
  }
}

[data-layout="multi-columns"] {
  .my__layout {
    aside:first-child {
      flex-basis: 25ch;
      height: 100vh;
    }
    main {
      flex-grow: 1.5;
      height: 100vh;
    }
    aside:last-child {
      flex-grow: 1;
      height: 100vh;
    }
  }
}


[data-layout="multi-columns"] .layout__multi-hidden {
  display: none;
}

[data-layout="single-column"] .layout__single-hidden {
  display: none;
}

.flex__row {
  display: flex;
  flex-direction: row;
}
.flex__grow {
  flex-grow: 1;
}

.flex__gap {
  gap: var(--space-2);
}
.flex__justify-end {
  justify-content: flex-end;
}
.flex__justify-between {
  justify-content: space-between;
}

/* spacing */

.m__block-0 {
  margin-block: var(--space-0);
}

.m__block-1 {
  margin-block: var(--space-1);
}

.m__block-2 {
  margin-block: var(--space-2);
}

.m__block-3 {
  margin-block: var(--space-3);
}

.m__block-4 {
  margin-block: var(--space-4);
}

.m__inline-0 {
  margin-inline: var(--space-0);
}

.m__inline-1 {
  margin-inline: var(--space-1);
}

.m__inline-2 {
  margin-inline: var(--space-2);
}

.m__inline-3 {
  margin-inline: var(--space-3);
}

.m__inline-4 {
  margin-inline: var(--space-4);
}

/* blocks */
input,
button,
textarea,
[contenteditable='true'],
select,
button {
  accent-color: var(--primary-color);
}

svg {
  vertical-align: middle;
}

.button,
button,
input[type='submit'] {
  background: var(--button-color, var(--primary-color));
  color: var(--button-text-color, var(--text-color));
  border: none;
  padding: var(--space-2);
  border-radius: var(--button-radius);
  text-decoration: none;
}

.button:hover,
button:hover,
input[type='submit']:hover {
  cursor: pointer;
}

.button__link {
  background: none;
  text-decoration: underline;
  color: hsl(from var(--text-color) h s l / 0.7);
  padding-inline: 0;
  padding-block: var(--space-1);
}

.button__icon {
  background: none;
  color: hsl(from var(--text-color) h s l / 0.7);
  padding-block: var(--space-2);
}
.button__outlined {
  background: none;
  border: 2px solid var(--button-color, var(--primary-color));
  color: var(--button-color, var(--primary-color));
}
.button__discrete {
  --button-color: var(--text-discrete-color);
}
textarea {
  width: 100%;
}
.app > nav {
  border-block-end: var(--layout-separator);
}
.app > nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  column-gap: var(--space-2);
}

.todolist {
  list-style: none;
  margin-inline-start: 0;
  padding-inline-start: 0;
}
.todolist li {
  margin-block: var(--space-1);
}
.todolist input[type='checkbox'] {
  scale: 1.5;
  margin-inline-end: var(--space-2);
}

.todolist > li > .todolist {
  margin-inline-start: var(--space-4);
}

input[type=text].input__discrete {
  border: none;
  border-bottom: var(--layout-separator);
}